.barbie-heart {
  filter: invert(73%) sepia(80%) saturate(1903%) hue-rotate(280deg)
    brightness(104%) contrast(101%);
}

.heart-left {
  margin-left: 50%;
}

.heart-icon,
.star-icon,
.half-icon,
.nada-icon {
  object-fit: contain;
  width: 100%;
}
