select {
  all: unset;
}

input {
  all: unset;
  appearance: auto;
}

.title,
.subtitle {
  display: block;
  font-size: 40px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  margin-top: 0.2%;
  margin-bottom: 30px;
}

.download-div {
  padding: 5%;
}

.input-user,
.select-period {
  border: 2px solid #556677;
  background-color: white;
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 18px;
  color: black;
  appearance: auto;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .input-user {
    width: 100%;
  }
}

.input-user:focus,
.input-user:hover,
.select-period:hover,
.select-period:active,
.select-period:focus,
.button-submit:active,
.button-download:active {
  border: 2px solid #00e054;
}

.label-hide-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

.input-hide-rating {
  accent-color: #ff8000;
}

.button-submit,
.button-download {
  border: none;
  background-color: #ff8000;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  padding: 12px 25px;
}

.button-submit:hover,
.button-download:hover {
  opacity: 0.8;
}

.button-submit:active,
.button-download:active {
  opacity: 0.5;
}

.input-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.input-flex {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  justify-content: center;
}

/*
@media (min-width: 901px) {
  .input-flex {
    display: flex;
    gap: 1px;
  }
}
*/
.collage-text {
  display: block;
  font-size: 1.5vw;
  font-style: italic;
  text-align: end;
}

footer {
  text-align: center;
  margin-top: auto;
  padding: 8px;
}

.flex-button,
.loading {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.loading {
  width: 75px;
  height: 75px;
  border: 15px solid #556677;
  border-top-color: #40bcf4;
  border-bottom-color: #ff8000;
  border-right-color: #00e054;
  border-radius: 50%;
  margin: 5% auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: logo-spin infinite 1s linear;
  }
}
