body {
  background-color: #14181c;
  color: #8e9caa;
  font-family: "Roboto", Arial;
}

.about-containner,
.contact-containner {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
