body {
  background-color: #14181c;
  color: #6f7d8a;
  font-family: Arial;
}

input {
  all: unset;
}

#root {
  margin: auto;
}

.moviePoster {
  border-radius: 5px;
  width: 100%;
}

.flex-containner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  width: 675px;
  padding: 50px;
}

.flex-movie {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input-user,
.input-month {
  border: 1.5px solid #6f7d8a;
  background-color: white;
  padding-left: 8px;
  border-radius: 10px;
  font-size: 14px;
  height: 25px;
  color: black;
}

.input-month {
  width: 55px;
}

.input-user:focus,
.input-month:focus {
  border: 2px solid #00e054;
}

.button-submit,
.button-download {
  border: none;
  background-color: #ff8000;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 8px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 12px;
}

.button-submit:hover,
.button-download:hover {
  opacity: 0.8;
}

.button-submit:active,
.button-download:active {
  opacity: 0.5;
}

.input-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.rating {
  margin: 0;
  font-size: 20px;
}

.heart-icon {
  width: 20px;
}

.button-download {
  margin-left: 0;
  padding: 12px 25px;
  font-size: 12px;
}

.flex-button,
.loading {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.loading {
  width: 75px;
  height: 75px;
  border: 15px solid #556677;
  border-top-color: #40bcf4;
  border-bottom-color: #ff8000;
  border-right-color: #00e054;
  border-radius: 50%;
  margin: auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: logo-spin infinite 1s linear;
  }
}
