body {
  background-color: #14181c;
  color: #6f7d8a;
  font-family: Arial;
}

select {
  all: unset;
}

input {
  all: unset;
  appearance: auto;
}

#root {
  margin: auto;
}

.moviePoster {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-poster {
  background: black;
  border-radius: 5px;
  padding: 2%;
  width: 100%;
  height: 100%;
}

.grid-containner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2%;
  padding: 5%;
}

.flex-movie {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.barbie-heart {
  filter: invert(82%) sepia(33%) saturate(4534%) hue-rotate(278deg)
    brightness(103%) contrast(101%);
}

.heart-icon {
  width: 99%;
  margin-left: 50%;
}

.rating-icon {
  width: 99%;
  /*filter: invert(53%) sepia(8%) saturate(690%) hue-rotate(168deg) brightness(89%) contrast(90%);*/
}

.grid-rating {
  margin-bottom: 20%;
}

.grid-rating,
.grid-no-rating {
  display: grid;
  margin-top: 2%;
  align-items: start;
  grid-template-columns: 5fr 1fr 0.5fr;
}

.input-user,
.select-period {
  border: 2px solid #6f7d8a;
  background-color: white;
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 14px;
  height: 28px;
  color: black;
  appearance: auto;
  box-sizing: border-box;
}

.input-user:focus,
.input-user:hover,
.select-period:hover,
.select-period:active,
.select-period:focus,
.button-submit:active,
.button-download:active {
  border: 2px solid #00e054;
}

.label-hide-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-size: 14px;
  cursor: pointer;
  color: white;
}

.input-hide-rating {
  accent-color: #ff8000;
}

.button-submit,
.button-download {
  border: none;
  background-color: #ff8000;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 8px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 12px;
}

.button-submit:hover,
.button-download:hover {
  opacity: 0.8;
}

.button-submit:active,
.button-download:active {
  opacity: 0.5;
}

.input-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1px;
  margin-bottom: 10px;
}

.button-download {
  margin-left: 0;
  padding: 12px 25px;
  font-size: 12px;
}

.error {
  font-size: 12px;
  color: white;
  text-align: center;
}

.flex-button,
.loading {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.loading {
  width: 75px;
  height: 75px;
  border: 15px solid #556677;
  border-top-color: #40bcf4;
  border-bottom-color: #ff8000;
  border-right-color: #00e054;
  border-radius: 50%;
  margin: 5% auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: logo-spin infinite 1s linear;
  }
}
